<%- include("partials/header"); -%>
<br>
<br>

<div class="container">
    <p>
        Welcome to Goal Line Fantasy!  Here at Goal Line, we are trying to start a passion project about our favourite game: fantasy hockey.  While are are not "experts" in the fantasy community, we will do our best to provide valuable insight that will help you win your leagues.  
        <br>
        <br>
        Throughout the season, we will be releasing articles about Weekly Previews, Weekend Pickups and more!  If you are in any fantasy hockey league, you will find some valuable insight, especially for those of you in bangers leagues.
        <br>
        <br>
        We created Goal Line in 2021 as a response to the lackluster coverage that we believe this game receives. We strive to provide more in-depth analysis that beginners and seasoned vets can learn from. We want to build an active community here, so if you have comments, suggestions, or requests, then we will be active on each article's comment section.  Or, if you prefer, you can <a class="title-link" href="/contact">contact us directly</a>.
        <br>
        <br>
        To our communuity ~ Thanks for your continued reading. Good luck and have fun this season!
        <br>
        - The Goal Line Fantasy Team
    
    </p>

</div>


<%- include("partials/ad-free-footer"); -%>