<%- include("partials/header"); -%>
<br>
<br>

<div class="container">
    <h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Season (ex: 2021-2022)</label>
    <input class="form-control" type="text" name="season">
  </div>
  <div class="form-group">
    <label>Tag (ex: pre-season primer, in-season article)</label>
    <input class="form-control" type="text" name="tag">
  </div>
  <div class="form-group">
    <label>Image URL</label>
    <input class="form-control" type="text" name="postImage">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle">
  </div>
  <div class="form-group">
    <label>Blurb</label>
    <textarea class="form-control" name="postBlurb" rows="2"></textarea>
  </div>

  <br>
  <div class="accordion accordion-flush bg-dark" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button light-mode collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Copy/Paste Elements
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <div class="accordion accordion-flush" id="accordionFlushExample2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne2">
                <button class="accordion-button collapsed light-mode" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne">
                  Float Image Container
                </button>
              </h2>
              <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample2">
                <div class="accordion-body">
                  &lt;div class=&quot;col-md-6 float-md-end mb-3 ms-md-3&quot;&gt;
                  &lt;/div&gt;
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo2">
                <button class="accordion-button light-mode collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Team Logos
                </button>
              </h2>
              <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample2">
                <div class="accordion-body">
                  <p><img class="team-logo" src="/team-logos/ANA_logo.svg"> Anaheim:  &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/ANA_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/ARI_logo.svg"> Arizona: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/ARI_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/BOS_logo.svg"> Boston:  &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/BOS_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/BUF_logo.svg"> Buffalo:  &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/BUF_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/CAR_logo.svg"> Carolina: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/CAR_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/CBJ_logo.svg"> Columbus: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/CBJ_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/CGY_logo.svg"> Calgary: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/CGY_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/CHI_logo.svg"> Chicago: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/CHI_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/COL_logo.svg"> Colorado: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/COL_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/DAL_logo.svg"> Dallas: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/DAL_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/DET_logo.svg"> Detroit: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/DET_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/EDM_logo.svg"> Edmonton: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/EDM_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/FLA_logo.svg"> Florida: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/FLA_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/L.A_logo.svg"> Los Angeles: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/L.A_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/MIN_logo.svg"> Minnesota: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/MIN_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/MTL_logo.svg"> Montreal: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/MTL_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/N.J_logo.svg"> New Jersey: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/N.J_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/NSH_logo.svg"> Nashville: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/NSH_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/NYI_logo.svg"> New York Islanders: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/NYI_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/NYR_logo.svg"> New York Rangers: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/NYR_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/OTT_logo.svg"> Ottawa: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/OTT_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/PHI_logo.svg"> Philadelphia: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/PHI_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/PIT_logo.svg"> Pittsburgh: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/PIT_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/S.J_logo.svg"> San Jose: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/S.J_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/SEA_logo.svg"> Seattle: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/SEA_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/STL_logo.svg"> St. Louis: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/STL_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/T.B_logo.svg"> Tampa Bay: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/T.B_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/TOR_logo.svg"> Toronto: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/TOR_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/VAN_logo.svg"> Vancouver: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/VAN_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/VGK_logo.svg"> Vegas: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/VGK_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/WPG_logo.svg"> Winnipeg: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/WPG_logo.svg&quot;&gt; </p>
                  <p><img class="team-logo" src="/team-logos/WSH_logo.svg"> Washington: &lt;img class=&quot;team-logo&quot; src=&quot;/team-logos/WSH_logo.svg&quot;&gt; </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree2">
                <button class="accordion-button light-mode collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree">
                  Website Link
                </button>
              </h2>
              <div id="flush-collapseThree2" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample2">
                <div class="accordion-body">&lt;a class=&quot;title-link&quot; href=&quot;&quot;&gt;&lt;/a&gt;</div>
              </div>
            </div>
          </div>

        </div>
    </div>
    </div>
  </div>

<br>

  <div class="form-group">
    <label>Post</label>
    <textarea class="form-control" name="postContent" rows="10"></textarea>
  </div>
  <br>
  <button value="submit"class="btn btn-danger" type="submit" name="button">Publish</button>
  <button value="preview"class="btn btn-danger" type="submit" name="button">Preview</button>
</form>
</div>


<%- include("partials/ad-free-footer"); -%>