<%- include("partials/header"); -%>
<br>
<br>

<div class="container">
    <h1>Oops!</h1>
    <p>Sorry, but there appears to be a problem with the NHL API.  Sorry for the inconvenience.</p>
</div>




<%- include("partials/ad-free-footer"); -%>